@import "tailwindcss";

@theme {
  --color-bg: #05060a;
  --color-card: #101828;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

body {
  @apply bg-bg text-white;
}

.container {
  @apply mx-auto px-4;
}

a.active {
  @apply underline decoration-blue-500 underline-offset-8;
}
